<div>
    <p>
        Templates are a great way to help content authors get started creating content. You can define the HTML for the template and then when the author inserts the template they have a great start towards creating content!
    </p>
    <p>
        In this example we create a simple table for providing product details for a product page on your website. The headings are made non-editable by loading the non-editable plugin and placing the correct class on the appropriate table cells.
    </p>
    <table style="width:90%; border-collapse: collapse;" border="1">
        <tbody>
            <tr style="height: 30px;">
                <th scope="row" style="width:40%; text-align: left;">Product Name:</th>
                <td style="width:60%;">{insert name here}</td>
            </tr>
            <tr style="height: 30px;">
                <th scope="row" style="width:40%; text-align: left;">Product Description:</th>
                <td style="width:60%;">{insert description here}</td>
            </tr>
            <tr style="height: 30px;">
                <th scope="row" style="width:40%; text-align: left;">Product Price:</th>
                <td style="width:60%;">{insert price here}</td>
            </tr>
        </tbody>
    </table>
</div>
