<p>Teste <strong>and</strong> <strong>left column</strong> uneditable.</p>
<table style="width: 60%; border-collapse: collapse;" border="1">
    <caption>Ephox Sales Analysis</caption>
    <tbody>
        <tr>
            <th>&nbsp;</th>
            <th scope="col">Q1</th>
            <th scope="col">Q2</th>
            <th scope="col">Q3</th>
            <th scope="col">Q4</th>
        </tr>
        <tr>
            <th scope="row">East Region</th>
            <td>100</td>
            <td>110</td>
            <td>115</td>
            <td>130</td>
        </tr>
        <tr>
            <th scope="row">Central Region</th>
            <td>100</td>
            <td>110</td>
            <td>115</td>
            <td>130</td>
        </tr>
        <tr>
            <th scope="row">West Region</th>
            <td>100</td>
            <td>110</td>
            <td>115</td>
            <td>130</td>
        </tr>
    </tbody>
</table>
